openapi: 3.1.0
info:
  title: Regal Recovery — Declarations of Truth (Affirmations v2) API
  version: 2.0.0
  description: |
    Pack-based, Scripture-rooted affirmation system for Christian sexual addiction recovery.
    All declarations are mapped to Carnes' four core beliefs and progressive levels (1-4).
    Feature flag: `activity.affirmations` (fail closed: 404 when disabled).
  contact:
    name: Regal Recovery Engineering
  license:
    name: Proprietary

servers:
  - url: https://api.regalrecovery.app/v1
    description: Production
  - url: https://api-staging.regalrecovery.app/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Packs
    description: Pack browsing, custom pack management, and premium purchases
  - name: Sessions
    description: Morning and evening declaration sessions
  - name: SOS Mode
    description: Emergency declaration delivery during urge/crisis
  - name: Library
    description: Browse and search individual declarations
  - name: Favorites & Hidden
    description: Curate personal declaration preferences
  - name: Custom Declarations
    description: User-written declarations within custom packs
  - name: Audio Recordings
    description: Own-voice recordings of declarations
  - name: Progress & Settings
    description: Cumulative progress, level info, and user preferences
  - name: Sharing
    description: Privacy-safe sharing summary for accountability

paths:
  # ── Packs ──────────────────────────────────────────────
  /activities/affirmations/packs:
    get:
      operationId: listPacks
      tags: [Packs]
      summary: List all packs
      description: Returns default (free), premium (locked/owned), and custom packs. Feature flag gated.
      parameters:
        - $ref: '#/components/parameters/PackTypeFilter'
        - $ref: '#/components/parameters/CategoryFilter'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Pack list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/FeatureDisabled' }
    post:
      operationId: createCustomPack
      tags: [Packs]
      summary: Create a custom pack
      description: Available from Day 14+. Max 20 custom packs per user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomPackRequest'
      responses:
        '201':
          description: Custom pack created
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/FeatureDisabled' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /activities/affirmations/packs/{packId}:
    parameters:
      - $ref: '#/components/parameters/PackId'
    get:
      operationId: getPack
      tags: [Packs]
      summary: Get pack details
      description: Returns pack with declarations. Premium packs show 3 preview declarations if not owned.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackDetailResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateCustomPack
      tags: [Packs]
      summary: Update a custom pack
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomPackRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      operationId: deleteCustomPack
      tags: [Packs]
      summary: Delete a custom pack
      description: Only custom packs can be deleted.
      responses:
        '204': { description: Pack deleted }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /activities/affirmations/packs/{packId}/purchase:
    parameters:
      - $ref: '#/components/parameters/PackId'
    post:
      operationId: purchasePack
      tags: [Packs]
      summary: Record premium pack purchase
      description: Server-side receipt validation. One-time purchase, owned forever.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchasePackRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  # ── Sessions ───────────────────────────────────────────
  /activities/affirmations/session/morning:
    get:
      operationId: getMorningSession
      tags: [Sessions]
      summary: Get morning declaration session
      description: Returns 3-5 declarations from active packs at user's current level (80/20 ratio).
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MorningSessionResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/FeatureDisabled' }
    post:
      operationId: completeMorningSession
      tags: [Sessions]
      summary: Complete morning session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteMorningRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCompletionResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  /activities/affirmations/session/evening:
    get:
      operationId: getEveningSession
      tags: [Sessions]
      summary: Get evening reflection
      description: Returns 1 calming declaration (Level 1-2) plus morning intention recall.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EveningSessionResponse'
        '404': { $ref: '#/components/responses/FeatureDisabled' }
    post:
      operationId: completeEveningSession
      tags: [Sessions]
      summary: Complete evening reflection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteEveningRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCompletionResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  # ── SOS Mode ───────────────────────────────────────────
  /activities/affirmations/sos:
    post:
      operationId: startSOSSession
      tags: [SOS Mode]
      summary: Start SOS declaration session
      description: Returns Level 1-2 declaration + breathing exercise. Never above Level 2.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSOSRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SOSSessionResponse'
        '404': { $ref: '#/components/responses/FeatureDisabled' }

  /activities/affirmations/sos/{sosId}/complete:
    parameters:
      - name: sosId
        in: path
        required: true
        schema: { type: string, pattern: '^aff_sos_[a-zA-Z0-9]+$' }
    post:
      operationId: completeSOSSession
      tags: [SOS Mode]
      summary: Complete SOS session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteSOSRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCompletionResponse'
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Library ────────────────────────────────────────────
  /activities/affirmations/library:
    get:
      operationId: browseLibrary
      tags: [Library]
      summary: Browse declarations
      parameters:
        - name: category
          in: query
          schema: { $ref: '#/components/schemas/AffirmationCategory' }
        - name: level
          in: query
          schema: { type: integer, minimum: 1, maximum: 4 }
        - name: packId
          in: query
          schema: { type: string }
        - name: keyword
          in: query
          schema: { type: string, maxLength: 100 }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffirmationListResponse'
        '404': { $ref: '#/components/responses/FeatureDisabled' }

  /activities/affirmations/library/{affirmationId}:
    parameters:
      - $ref: '#/components/parameters/AffirmationId'
    get:
      operationId: getAffirmation
      tags: [Library]
      summary: Get single declaration
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffirmationResponse'
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Favorites ──────────────────────────────────────────
  /activities/affirmations/favorites:
    get:
      operationId: listFavorites
      tags: [Favorites & Hidden]
      summary: List favorite declarations
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffirmationListResponse'
    post:
      operationId: addFavorite
      tags: [Favorites & Hidden]
      summary: Add declaration to favorites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteRequest'
      responses:
        '201': { description: Added to favorites }
        '409': { description: Already favorited }

  /activities/affirmations/favorites/{affirmationId}:
    parameters:
      - $ref: '#/components/parameters/AffirmationId'
    delete:
      operationId: removeFavorite
      tags: [Favorites & Hidden]
      summary: Remove from favorites
      responses:
        '204': { description: Removed }
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Hidden ─────────────────────────────────────────────
  /activities/affirmations/hidden:
    get:
      operationId: listHidden
      tags: [Favorites & Hidden]
      summary: List hidden declarations
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffirmationListResponse'
    post:
      operationId: hideAffirmation
      tags: [Favorites & Hidden]
      summary: Hide a declaration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HideRequest'
      responses:
        '201': { description: Hidden }

  /activities/affirmations/hidden/{affirmationId}:
    parameters:
      - $ref: '#/components/parameters/AffirmationId'
    delete:
      operationId: unhideAffirmation
      tags: [Favorites & Hidden]
      summary: Unhide a declaration
      responses:
        '204': { description: Unhidden }
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Custom Declarations ────────────────────────────────
  /activities/affirmations/custom:
    get:
      operationId: listCustomDeclarations
      tags: [Custom Declarations]
      summary: List user's custom declarations
      parameters:
        - name: packId
          in: query
          schema: { type: string }
          description: Filter by custom pack
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeclarationListResponse'
    post:
      operationId: createCustomDeclaration
      tags: [Custom Declarations]
      summary: Create a custom declaration
      description: Available from Day 14+. Max 280 characters. Must belong to a custom pack.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDeclarationRequest'
      responses:
        '201':
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeclarationResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  /activities/affirmations/custom/{affirmationId}:
    parameters:
      - $ref: '#/components/parameters/AffirmationId'
    patch:
      operationId: updateCustomDeclaration
      tags: [Custom Declarations]
      summary: Update a custom declaration
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomDeclarationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDeclarationResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      operationId: deleteCustomDeclaration
      tags: [Custom Declarations]
      summary: Delete a custom declaration
      responses:
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Audio Recordings ───────────────────────────────────
  /activities/affirmations/{affirmationId}/audio:
    parameters:
      - $ref: '#/components/parameters/AffirmationId'
    get:
      operationId: getAudioRecording
      tags: [Audio Recordings]
      summary: Get audio recording metadata
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioRecordingResponse'
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: uploadAudioRecording
      tags: [Audio Recordings]
      summary: Upload own-voice recording
      description: Max 60 seconds. AAC 64kbps .m4a. Local-first storage.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAudioRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioRecordingResponse'
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      operationId: deleteAudioRecording
      tags: [Audio Recordings]
      summary: Delete audio recording
      responses:
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Progress & Settings ────────────────────────────────
  /activities/affirmations/progress:
    get:
      operationId: getProgress
      tags: [Progress & Settings]
      summary: Get cumulative progress
      description: All metrics are cumulative. No streak counters.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressResponse'
        '404': { $ref: '#/components/responses/FeatureDisabled' }

  /activities/affirmations/settings:
    get:
      operationId: getSettings
      tags: [Progress & Settings]
      summary: Get user settings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
    patch:
      operationId: updateSettings
      tags: [Progress & Settings]
      summary: Update settings
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateSettingsRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  /activities/affirmations/level:
    get:
      operationId: getLevelInfo
      tags: [Progress & Settings]
      summary: Get current level and progression info
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelInfoResponse'

  /activities/affirmations/level/override:
    post:
      operationId: requestLevelOverride
      tags: [Progress & Settings]
      summary: Request level change
      description: Can always move down. Upgrade requires 30 days at current level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LevelOverrideRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelInfoResponse'
        '422': { $ref: '#/components/responses/ValidationError' }

  # ── Sharing ────────────────────────────────────────────
  /activities/affirmations/sharing/summary:
    get:
      operationId: getSharingSummary
      tags: [Sharing]
      summary: Get privacy-safe sharing summary
      description: Session count only. Never declaration content.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingSummaryResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PackId:
      name: packId
      in: path
      required: true
      schema:
        type: string
        pattern: '^aff_pack_[a-zA-Z0-9]+$'
    AffirmationId:
      name: affirmationId
      in: path
      required: true
      schema:
        type: string
        pattern: '^aff_(lib|cust)_[a-zA-Z0-9]+$'
    PackTypeFilter:
      name: type
      in: query
      schema:
        type: string
        enum: [default, premium, custom, all]
        default: all
    CategoryFilter:
      name: category
      in: query
      schema:
        $ref: '#/components/schemas/AffirmationCategory'
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Opaque cursor for pagination
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }

  schemas:
    # ── Enums ──────────────────────────────────────────
    AffirmationCategory:
      type: string
      enum:
        - self-worth
        - shame-resilience
        - healthy-relationships
        - connection
        - emotional-regulation
        - purpose-meaning
        - integrity-honesty
        - daily-strength
        - healthy-sexuality
        - sos-crisis

    AffirmationLevel:
      type: integer
      minimum: 1
      maximum: 4
      description: "1=Permission, 2=Process, 3=Tempered Identity, 4=Full Identity"

    PackType:
      type: string
      enum: [default, premium, custom]

    SessionType:
      type: string
      enum: [morning, evening, sos, on-demand]

    EntryPath:
      type: string
      enum: [today, work, sos, notification, widget, post-relapse]

    BackgroundMusic:
      type: string
      enum: [worship, nature, hymns, atmospheric, silence]

    # ── Core Data ──────────────────────────────────────
    Affirmation:
      type: object
      required: [affirmationId, text, scriptureReference, level, coreBeliefs, category]
      properties:
        affirmationId: { type: string, pattern: '^aff_lib_[a-zA-Z0-9]+$' }
        packId: { type: string }
        text: { type: string, maxLength: 500 }
        scriptureReference: { type: string, description: "e.g., 'Romans 8:1'" }
        scriptureText: { type: string, description: "Full verse text" }
        expansion: { type: string, description: "1-2 sentence reflection" }
        prayer: { type: string, nullable: true, description: "Short prayer related to this truth" }
        level: { $ref: '#/components/schemas/AffirmationLevel' }
        coreBeliefs:
          type: array
          items: { type: integer, minimum: 1, maximum: 4 }
          minItems: 1
          description: "Carnes' core beliefs countered (1-4)"
        category: { $ref: '#/components/schemas/AffirmationCategory' }
        tags:
          type: array
          items: { type: string }
        audioAvailable: { type: boolean, default: false }
        isFavorited: { type: boolean }
        isHidden: { type: boolean }

    Pack:
      type: object
      required: [packId, name, type, category, affirmationCount]
      properties:
        packId: { type: string, pattern: '^aff_pack_[a-zA-Z0-9]+$' }
        name: { type: string, maxLength: 50 }
        description: { type: string, maxLength: 500 }
        coverImage: { type: string, format: uri }
        type: { $ref: '#/components/schemas/PackType' }
        category: { $ref: '#/components/schemas/AffirmationCategory' }
        primaryLevel: { $ref: '#/components/schemas/AffirmationLevel' }
        affirmationCount: { type: integer }
        price:
          type: number
          nullable: true
          description: "null for default/custom; amount in USD for premium"
        isOwned: { type: boolean, description: "true for default, custom, or purchased premium" }
        isLocked: { type: boolean, description: "true for unpurchased premium packs" }
        previewAffirmations:
          type: array
          items: { $ref: '#/components/schemas/Affirmation' }
          maxItems: 3
          description: "3 sample declarations for premium preview"
        includeInRotation: { type: boolean }
        schedule: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CustomDeclaration:
      type: object
      required: [customId, packId, text]
      properties:
        customId: { type: string, pattern: '^aff_cust_[a-zA-Z0-9]+$' }
        packId: { type: string, description: "Custom pack this belongs to" }
        text: { type: string, maxLength: 280 }
        scriptureReference: { type: string, nullable: true }
        scriptureText: { type: string, nullable: true }
        includeInRotation: { type: boolean, default: true }
        createdAt: { type: string, format: date-time, description: "Immutable (FR2.7)" }
        updatedAt: { type: string, format: date-time }

    AudioRecording:
      type: object
      properties:
        recordingId: { type: string, pattern: '^aff_rec_[a-zA-Z0-9]+$' }
        affirmationId: { type: string }
        format: { type: string, enum: [m4a] }
        durationSeconds: { type: integer, maximum: 60 }
        backgroundMusic: { $ref: '#/components/schemas/BackgroundMusic' }
        backgroundVolume: { type: number, minimum: 0.0, maximum: 1.0, default: 0.4 }
        createdAt: { type: string, format: date-time }

    # ── Session Schemas ────────────────────────────────
    MorningSessionData:
      type: object
      properties:
        affirmations:
          type: array
          items: { $ref: '#/components/schemas/Affirmation' }
          minItems: 3
          maxItems: 5
        intentionPrompt: { type: string, default: "Today, empowered by the Spirit, I choose to..." }
        levelServed: { $ref: '#/components/schemas/AffirmationLevel' }
        centeringText: { type: string, default: "Take a breath. God is with you." }

    EveningSessionData:
      type: object
      properties:
        affirmation: { $ref: '#/components/schemas/Affirmation' }
        morningIntention: { type: string, nullable: true }
        levelServed: { $ref: '#/components/schemas/AffirmationLevel' }

    SOSSessionData:
      type: object
      properties:
        sosId: { type: string, pattern: '^aff_sos_[a-zA-Z0-9]+$' }
        affirmations:
          type: array
          items: { $ref: '#/components/schemas/Affirmation' }
          minItems: 3
          maxItems: 3
        breathingExercise:
          type: object
          properties:
            pattern: { type: string, default: "4-7-8" }
            inhaleSeconds: { type: integer, default: 4 }
            holdSeconds: { type: integer, default: 7 }
            exhaleSeconds: { type: integer, default: 8 }
            durationSeconds: { type: integer, default: 30 }
            scripture: { type: string, default: "God is our refuge and strength. (Psalm 46:1)" }
        levelServed: { $ref: '#/components/schemas/AffirmationLevel' }

    SessionCompletion:
      type: object
      properties:
        sessionId: { type: string, pattern: '^aff_sess_[a-zA-Z0-9]+$' }
        sessionType: { $ref: '#/components/schemas/SessionType' }
        completedAt: { type: string, format: date-time }
        totalSessions: { type: integer, description: "Updated cumulative total" }
        milestone:
          type: object
          nullable: true
          properties:
            type: { type: string }
            message: { type: string }

    # ── Progress & Settings ────────────────────────────
    ProgressData:
      type: object
      properties:
        totalSessions: { type: integer }
        totalDeclarationsPracticed: { type: integer }
        totalSOSSessions: { type: integer }
        totalCustomCreated: { type: integer }
        totalAudioRecorded: { type: integer }
        packsExplored: { type: integer }
        currentLevel: { $ref: '#/components/schemas/AffirmationLevel' }
        consistency30d:
          type: array
          items:
            type: object
            properties:
              date: { type: string, format: date }
              sessionCount: { type: integer }
          maxItems: 30
        milestones:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              achievedAt: { type: string, format: date-time }
              message: { type: string }
        lastSessionAt: { type: string, format: date-time, nullable: true }

    SettingsData:
      type: object
      properties:
        morningTime: { type: string, pattern: '^\d{2}:\d{2}$', default: "07:00" }
        eveningTime: { type: string, pattern: '^\d{2}:\d{2}$', default: "21:00" }
        activePackIds:
          type: array
          items: { type: string }
          minItems: 1
        levelOverride: { type: integer, nullable: true, minimum: 1, maximum: 4 }
        healthySexualityEnabled: { type: boolean, default: false }
        notificationsEnabled: { type: boolean, default: true }
        reEngagementEnabled: { type: boolean, default: true }
        preferredBackground: { type: string, nullable: true }
        preferredAudio: { $ref: '#/components/schemas/BackgroundMusic' }
        audioAutoPlay: { type: boolean, default: false }

    LevelInfoData:
      type: object
      properties:
        currentLevel: { $ref: '#/components/schemas/AffirmationLevel' }
        daysAtCurrentLevel: { type: integer }
        daysInRecovery: { type: integer }
        nextLevelEligible: { type: boolean }
        nextLevelRequiresDays: { type: integer, nullable: true }
        canRequestUpgrade: { type: boolean }
        manualOverride: { type: integer, nullable: true }
        isPostRelapse: { type: boolean }
        postRelapseExpiresAt: { type: string, format: date-time, nullable: true }
        levelHistory:
          type: array
          items:
            type: object
            properties:
              level: { $ref: '#/components/schemas/AffirmationLevel' }
              startedAt: { type: string, format: date-time }
              endedAt: { type: string, format: date-time, nullable: true }
              trigger: { type: string, enum: [automatic, manual, post-relapse] }

    SharingSummaryData:
      type: object
      description: "Privacy-safe: session count only, never declaration content"
      properties:
        sessionsThisWeek: { type: integer }
        sessionsThisMonth: { type: integer }
        totalSessions: { type: integer }
        currentLevel: { $ref: '#/components/schemas/AffirmationLevel' }

    # ── Request Schemas ────────────────────────────────
    CreateCustomPackRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, maxLength: 50 }
        description: { type: string, maxLength: 500 }
        coverColor: { type: string }
        schedule: { type: string, nullable: true }
        includeInRotation: { type: boolean, default: true }

    UpdateCustomPackRequest:
      type: object
      properties:
        name: { type: string, maxLength: 50 }
        description: { type: string, maxLength: 500 }
        coverColor: { type: string }
        schedule: { type: string, nullable: true }
        includeInRotation: { type: boolean }

    PurchasePackRequest:
      type: object
      required: [platform, receiptId]
      properties:
        platform: { type: string, enum: [ios, android] }
        receiptId: { type: string }
        bundleId: { type: string, nullable: true }

    CompleteMorningRequest:
      type: object
      required: [affirmationInteractions]
      properties:
        intention: { type: string, maxLength: 500 }
        affirmationInteractions:
          type: array
          items:
            type: object
            properties:
              affirmationId: { type: string }
              durationViewedSeconds: { type: integer }
              favorited: { type: boolean }
              hidden: { type: boolean }
              expandedVerse: { type: boolean }
              expandedPrayer: { type: boolean }
              usedBreathing: { type: boolean }
        durationSeconds: { type: integer }
        entryPath: { $ref: '#/components/schemas/EntryPath' }

    CompleteEveningRequest:
      type: object
      required: [dayRating]
      properties:
        dayRating: { type: integer, minimum: 1, maximum: 5 }
        reflection: { type: string, maxLength: 2000, nullable: true }
        affirmationInteraction:
          type: object
          properties:
            affirmationId: { type: string }
            durationViewedSeconds: { type: integer }
            favorited: { type: boolean }
        durationSeconds: { type: integer }
        entryPath: { $ref: '#/components/schemas/EntryPath' }

    StartSOSRequest:
      type: object
      properties:
        entryPath: { type: string, enum: [fab, urge-report, faster-scale] }

    CompleteSOSRequest:
      type: object
      required: [breathingCompleted]
      properties:
        breathingCompleted: { type: boolean }
        reachedOut: { type: boolean, default: false }
        prayedWith: { type: boolean, default: false }
        postCheckInRating: { type: integer, minimum: 1, maximum: 5, nullable: true }
        durationSeconds: { type: integer }

    CreateCustomDeclarationRequest:
      type: object
      required: [packId, text]
      properties:
        packId: { type: string, description: "Custom pack to add this to" }
        text: { type: string, maxLength: 280 }
        scriptureReference: { type: string, nullable: true }
        scriptureText: { type: string, nullable: true }
        includeInRotation: { type: boolean, default: true }

    UpdateCustomDeclarationRequest:
      type: object
      properties:
        text: { type: string, maxLength: 280 }
        scriptureReference: { type: string, nullable: true }
        scriptureText: { type: string, nullable: true }
        includeInRotation: { type: boolean }

    FavoriteRequest:
      type: object
      required: [affirmationId]
      properties:
        affirmationId: { type: string }
        packId: { type: string, description: "Source pack" }

    HideRequest:
      type: object
      required: [affirmationId]
      properties:
        affirmationId: { type: string }
        packId: { type: string }

    UploadAudioRequest:
      type: object
      required: [audio]
      properties:
        audio: { type: string, format: binary }
        backgroundMusic: { $ref: '#/components/schemas/BackgroundMusic' }
        backgroundVolume: { type: number, minimum: 0.0, maximum: 1.0, default: 0.4 }

    UpdateSettingsRequest:
      type: object
      properties:
        morningTime: { type: string, pattern: '^\d{2}:\d{2}$' }
        eveningTime: { type: string, pattern: '^\d{2}:\d{2}$' }
        activePackIds:
          type: array
          items: { type: string }
          minItems: 1
        levelOverride: { type: integer, nullable: true, minimum: 1, maximum: 4 }
        healthySexualityEnabled: { type: boolean }
        notificationsEnabled: { type: boolean }
        reEngagementEnabled: { type: boolean }
        preferredBackground: { type: string, nullable: true }
        preferredAudio: { $ref: '#/components/schemas/BackgroundMusic' }
        audioAutoPlay: { type: boolean }

    LevelOverrideRequest:
      type: object
      required: [requestedLevel]
      properties:
        requestedLevel: { $ref: '#/components/schemas/AffirmationLevel' }

    # ── Response Envelopes ─────────────────────────────
    PackListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Pack' }
        meta:
          type: object
          properties:
            totalCount: { type: integer }
            cursor: { type: string, nullable: true }
        links:
          type: object
          properties:
            self: { type: string }
            next: { type: string, nullable: true }

    PackResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Pack' }
        links:
          type: object
          properties:
            self: { type: string }

    PackDetailResponse:
      type: object
      properties:
        data:
          allOf:
            - $ref: '#/components/schemas/Pack'
            - type: object
              properties:
                affirmations:
                  type: array
                  items: { $ref: '#/components/schemas/Affirmation' }
                  description: "Full list if owned; 3 preview if locked"
        links:
          type: object
          properties:
            self: { type: string }

    PurchaseResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            purchaseId: { type: string }
            packId: { type: string }
            purchasedAt: { type: string, format: date-time }
            platform: { type: string }
        links:
          type: object
          properties:
            pack: { type: string }

    AffirmationListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Affirmation' }
        meta:
          type: object
          properties:
            totalCount: { type: integer }
            cursor: { type: string, nullable: true }
        links:
          type: object
          properties:
            self: { type: string }
            next: { type: string, nullable: true }

    AffirmationResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Affirmation' }
        links:
          type: object
          properties:
            self: { type: string }
            pack: { type: string }

    CustomDeclarationListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/CustomDeclaration' }
        meta:
          type: object
          properties:
            totalCount: { type: integer }
            cursor: { type: string, nullable: true }

    CustomDeclarationResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/CustomDeclaration' }
        links:
          type: object
          properties:
            self: { type: string }
            pack: { type: string }

    AudioRecordingResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/AudioRecording' }
        links:
          type: object
          properties:
            self: { type: string }
            affirmation: { type: string }

    MorningSessionResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/MorningSessionData' }
        links:
          type: object
          properties:
            complete: { type: string }

    EveningSessionResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/EveningSessionData' }
        links:
          type: object
          properties:
            complete: { type: string }

    SOSSessionResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/SOSSessionData' }
        links:
          type: object
          properties:
            complete: { type: string }

    SessionCompletionResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/SessionCompletion' }
        links:
          type: object
          properties:
            progress: { type: string }

    ProgressResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/ProgressData' }
        links:
          type: object
          properties:
            self: { type: string }

    SettingsResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/SettingsData' }
        links:
          type: object
          properties:
            self: { type: string }

    LevelInfoResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/LevelInfoData' }
        links:
          type: object
          properties:
            self: { type: string }
            override: { type: string }

    SharingSummaryResponse:
      type: object
      properties:
        data: { $ref: '#/components/schemas/SharingSummaryData' }
        links:
          type: object
          properties:
            self: { type: string }

    # ── Error Schemas ──────────────────────────────────
    ErrorResponse:
      type: object
      required: [errors]
      properties:
        errors:
          type: array
          items:
            type: object
            required: [code, title, status]
            properties:
              code: { type: string, pattern: '^rr:0x000A[0-9a-fA-F]{4}$' }
              title: { type: string }
              detail: { type: string }
              status: { type: integer }
              source:
                type: object
                properties:
                  pointer: { type: string }
                  parameter: { type: string }
          correlationId: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Resource not found (or hidden per permission model)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    FeatureDisabled:
      description: Feature flag `activity.affirmations` is disabled (fail closed)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
